<footer class="footer">
    <img src="./assets/logo-white.svg" alt="Logo of Easybank"/>
    <ul class="footer__social-medias-list">
        <li><img src="./assets/icon-facebook.svg" alt="Facebook Icon"></li>
        <li><img src="./assets/icon-youtube.svg" alt="Youtube Icon"></li>
        <li><img src="./assets/icon-twitter.svg" alt="Twitter Icon"></li>
        <li><img src="./assets/icon-pinterest.svg" alt="Pinterest Icon"></li>
        <li><img src="./assets/icon-instagram.svg" alt="Instagram Icon"></li>
    </ul>
    <ul class="footer__links-list">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Privacy Policy</a></li>
    </ul>
    <app-button class="footer__btn"/>
    <p class="footer__copyright">&#169; Easybank. All Rights Reserved</p>
</footer>