<app-header/>
<div class="main-wrapper">
    <figure>
        <div class="bg-pattern" aria-label="Mobile Pattern" role="img"></div>
        <div class="mockups" aria-label="Mobile Mockups" role="img"></div>
    </figure>
    <main class="main">
        <h1 class="main__title">Next generation digital banking</h1>
        <p class="main__desc">Take your financial life online. Your Easybank account will be a one-stop-shop for spending, saving, budgeting, investing, and much more.</p>
        <app-button class="main__btn"/>
    </main>
</div>
<app-service/>
<app-article/>
<app-footer/>

<router-outlet />
