@use './scss/var';

* {
    padding: 0;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    color: var.$darkBlue;
}
p {
    color: var.$grayishBlue;
}